pkgbase = chatgpt-desktop-bin
	pkgdesc = Official ChatGPT desktop application with Codex, repackaged for Arch Linux
	pkgver = 26.917.62051
	pkgrel = 1
	url = https://learn.chatgpt.com/docs/linux/linux-app
	arch = x86_64
	license = custom
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = libcups
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libdrm
	depends = libglvnd
	depends = libnotify
	depends = libusb
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	depends = openssl
	depends = tpm2-tss
	depends = vulkan-icd-loader
	depends = xdg-utils
	depends = xz
	optdepends = git: Git integration
	optdepends = gnome-keyring: secret storage
	optdepends = libpulse: PulseAudio support
	optdepends = xorg-xwayland: run under Wayland
	provides = chatgpt=26.917.62051
	conflicts = chatgpt
	conflicts = chatgpt-bin
	options = !strip
	options = !debug
	source = chatgpt_26.917.62051_amd64.deb::https://persistent.oaistatic.com/codex-app-prod/linux/deb/pool/main/c/chatgpt/chatgpt_26.917.62051_amd64.deb
	sha256sums = 75536e3f197c6db8881a634f8bb9b0515184a8eff7cec9be5f408d0f4ae6e696

pkgname = chatgpt-desktop-bin
